.alpackages/
.snapshots/
*.app
.output/
rad.json

.vscode/launch.json
.vscode/*.local.json
.altestrunner/

.env
.env.*
*.pfx
*.key
*.pem
secrets.json

*.log
*.bak

.DS_Store
Thumbs.db
Desktop.ini
.vs/
